<phpunit bootstrap="vendor/autoload.php" colors="true" processIsolation="true" testdox="true">
    <testsuites>
        <testsuite name="number">
            <file>tests/AbbreviateNumberTest.php</file>
            <file>tests/AlphabetConversionTest.php</file>
            <file>tests/BinaryConversionTest.php</file>
            <file>tests/HexadecimalConversionTest.php</file>
            <file>tests/RomanConversionTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
